div(id='about-tab', class='col s12')
  div(class='content-container')
    h5(class="about-header") Below are a handful of scientific articles providing information on the negative cardiovascular effects of sitting.
    h6(class="about-header grey") Keep in mind, this is not an exhaustive list. 
    ul(class="about-ul")
      li(class="about-ul-li")
        a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5668607/?report=classic", target="_blank") Prolonged sitting leg vasculopathy: contributing factors and clinical implications (TEMP & REPLACE YOOOO!!!!!!!!!!! --> 2010)
      li(class="about-ul-li")
        a(href="https://bjsm.bmj.com/content/49/21/1357.long", target="_blank") The sedentary office: an expert statement on the growing case for change towards better health and productivity
      li(class="about-ul-li")
        a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4956484/", target="_blank") Impact of Prolonged Sitting on Lower and Upper Limb Micro- and Macrovascular Dilator Function
      li(class="about-ul-li")
        a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6245709/", target="_blank") Associations of context-specific sitting time with markers of cardiometabolic risk in Australian adults
      li(class="about-ul-li")
        a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6454412/", target="_blank") Prolonged Leisure Time Spent Sitting in Relation to Cause-Specific Mortality in a Large US Cohort
