div(id="covid")
      p(id="covid-text") To help curb the spread of COVID 19 and keep you and your community safe, every time a song comes on, we encourage you to wash your hands for 20-seconds. Get some movement, and wash your hands. Stay healthy, stay safe &#9829