footer(class='page-footer')
  div(class='container')
    div(class='row')
      div(class='col s7')
        h5(class='white-text footer-head') OfficeBeatZ
        p(class='grey-text text-lighten-1 smaller') OfficeBeatZ is a collaborative effort inspired by Gabriel Zieff and developed by Cody Simmons, Hunter Chen, Brian Henrick, Mac Stark, Garrett Bolter, Nidhi Murlidhar, and Jason Yu.
      div(class='col s5')
        h5(class='white-text footer-head') Links
        ul(class='smaller')
          li
            a(class='grey-text text-lighten-1', href='https://github.com/officebeatz/OfficeBeatz2', target='_blank') Documentation
          li
            a(class='grey-text text-lighten-1', href='https://materializecss.com/', target='_blank') Materialize
          li
            a(class='grey-text text-lighten-1', href='https://pugjs.org/api/getting-started.html', target='_blank') Pug
  div(class='footer-copyright valign-wrapper')
    div(class='container')
      div(class='row')
        div(class='grey-text text-lighten-1 col s7')  © 2018 Copyright Cody Simmons, Hunter Chen, Brian Henrick.
        div(class = 'grey-text text-lighten-1 col s7') © 2020 Copyright Mac Stark, Garrett Bolter, Nidhi Murlidhar, Jason Yu.
        a(class='grey-text text-lighten-1 col s5', href='https://github.com/officebeatz/OfficeBeatz2', target='_blank')
          i(class='fab fa-github-square fa-lg')