div(class='content-container intervalForm')
  form(id='advancedSettingsForm', action='#')
    ul(class="collapsible", data-collapsible="accordion")
      include form-holder/interval-form.pug
      include form-holder/genre-form.pug
      include form-holder/decade-form.pug
      include form-holder/theme-form.pug
    div(id ="formFeedback")
    button(class='btn-large waves-effect waves-light light-blue accent-3 submitButton', type="submit", name="settingsSubmit") Submit
