div(id='getting-started', class='col s12')
  div(class='content-container')
    h3 Getting Started
    ol(id='gs-list') 
      li #[b Click the gear icon] ( #[img(src='/images/settings.png' class='gear')] ) and select an interval in the advanced settings form. You can choose a preset option or set your own custom interval between 1 and 120 minutes. <span id='accented'><sup>**<sup></span> 
      li #[b Apply filters] based on Genre and Year.
      li #[b <span style='color:green'>Press the green start button</span>] to begin. A new song will begin after the set interval has completed. 
      

    div(id='notes-container')
      p(id='notes-header') Notes
      ul(id='gs-notes')
        li The play ( #[i(class="songbutton material-icons btn-flat light-blue accent-3") play_arrow ] ) / pause ( #[i(class="material-icons btn-flat light-blue accent-3") pause ] ) button pauses the current song. The next song will begin after the set interval has completed.
        li The skip button ( #[i(class="material-icons btn-flat light-blue accent-3") skip_next ] ) will choose a new random song if a song is currently playing.
        li Muting a song will not stop new songs from playing, but you will not hear them.
        li The next time you load up OfficeBeatz, it will remember your advanced settings.
        li If your interval is under 7 minutes it may interrupt a currently playing song. 
        li If your filter is too strict, you will be asked to broaden it.