div(id='getting-started', class='col s12')
  div(class='content-container')
    h3 Getting Started
    ol(id='gs-list') 
      li Click the gear icon and select an interval in the advanced settings form. You can choose a preset option or set your own custom interval between 1 and 120 minutes. <span id='accented'><sup>**<sup></span> 
      li Apply filters based on Genre and Year.
      li Press the green start button to begin. A new song will begin after the set interval has completed. 
      li The play / pause button pauses the current song. The next song will begin after the set interval has completed.
      li Skip will choose a new random song if a song is currently playing.
      li Muting a song will not stop new songs from playing, but you will not hear them.

    div(id='notes-container')
      p(id='notes-header') Notes
      ul(id='gs-notes')
        li The next time you load up OfficeBeatz, it will remember your advanced settings.
        li If your interval is under 7 minutes it may interrupt a currently playing song. 
        li If your filter is too strict, you will be asked to broaden it.