//- need to mess with this class name to display & no slider
div(class='title-container active')
    a(class='songDisplay') Current song: 
    a(id='titleID', class='songDisplay')
    a(class='songDisplay')  by 
    a(id='artistID', class='songDisplay')
