//- need to mess with this class name to display & no slider
div(class='title-container active', id="current-song-display")
    span(class='songDisplay', style="padding-right: 6px") Current song:
    span(id='titleID')
    span(class='songDisplay', style="padding: 0px 6px 0px 6px") by
    span(id='artistID')
