div(id="timer")
      p(id="timer-time") 15:00
      div
        button(id="start-timer", class="timer-button") start
        button(id="stop-timer", class="timer-button", style="display: none") stop
        button(id="reset-timer", class="timer-button") reset
