footer(class='page-footer')
  div(class='container')
    div(class='row')
      div(class='col s7')
        h5(class='white-text') OfficeBeatZ
        p(class='grey-text text-lighten-1 smaller') OfficeBeatZ is a collaborative effort inspired by Gabriel Zieff and developed by Cody Simmons, Hunter Chen, and Brian Henrick.
      div(class='col s5')
        h5(class='white-text') Links
        ul(class='smaller')
          li
            a(class='grey-text text-lighten-1', href='https://github.com/CodyMichaelSimmons/EmployeeWellnessProject/wiki', target='_blank') Documentation
          li
            a(class='grey-text text-lighten-1', href='https://materializecss.com/', target='_blank') Materialize
          li
            a(class='grey-text text-lighten-1', href='https://pugjs.org/api/getting-started.html', target='_blank') Pug
  div(class='footer-copyright valign-wrapper')
    div(class='container')
      div(class='row')
        div(class='grey-text text-lighten-1 col s7')  © 2018 Copyright Cody Simmons, Hunter Chen, Brian Henrick
        a(class='grey-text text-lighten-1 col s5', href='https://github.com/CodyMichaelSimmons/EmployeeWellnessProject', target='_blank')
          i(class='fab fa-github-square fa-lg')