div(class='content-container intervalForm')
  form(id='advancedSettingsForm', action='#')
    ul(class="collapsible", data-collapsible="accordion")
      include interval-form.pug
      include genre-form.pug
      include decade-form.pug
    div(id ="formFeedback")
    button(class='btn-large waves-effect waves-light light-blue accent-3 submitButton', type="submit", name="settingsSubmit") Submit