li(class="not-active")
  div(class="collapsible-header")
    i(class="small material-icons valign-wrapper") music_note
    | Genres
    div(id="genreDisplay" class="valign-wrapper")
  div(class="collapsible-body")
    p
      label(for="reggaeBox")
        input(name="genreGroup", type="checkbox", id="reggaeBox", value='reggae')
        span Reggae
    p
      label(for="popBox")
        input(name="genreGroup", type="checkbox", id="popBox", value='pop')
        span Pop
    p
      label(for="rAndBBox")
        input(name="genreGroup", type="checkbox", id="rAndBBox", value='rAndB')
        span R &amp; B
    p
      label(for="rockBox")
        input(name="genreGroup", type="checkbox", id="rockBox", value='rock')
        span Rock
    p
      label(for="latinBox")
        input(name="genreGroup", type="checkbox", id="latinBox", value='latin')
        span Latin
    p
      label(for="hipHopBox")
        input(name="genreGroup", type="checkbox", id="hipHopBox", value='hipHop')
        span Hip-Hop
    p
      label(for="bluesBox")
        input(name="genreGroup", type="checkbox", id="bluesBox", value='blues')
        span Blues
    p
      label(for="rockPopBox")
        input(name="genreGroup", type="checkbox", id="rockPopBox", value='rockPop')
        span Pop Rock
    p
      label(for="rapBox")
        input(name="genreGroup", type="checkbox", id="rapBox", value='rap')
        span Rap
    p
      label(for="otherBox")
        input(name="genreGroup", type="checkbox", id="otherBox", value='other')
        span Miscellaneous