div(id='getting-started', class='col s12')
  div(class='content-container')
    h3 Getting Started
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum dolorem similique eligendi. Rerum sit, cumque recusandae, sint libero aut iure ea blanditiis debitis labore animi temporibus dicta, iste commodi! Iusto, id! Sit fugiat corporis perferendis minima illo earum quos quas? Laboriosam repellendus magnam iste perspiciatis unde quia vel eveniet nobis?