div(id='getting-started', class='col s12')
  div(class='content-container')
    h3 Getting Started
    p First, select an interval in advanced settings. You can choose a preset or set your own from a minute up to two hours. The next time you load up OfficeBeatz, it will remember your interval settings. After you hit play, a random song will immediately start playing, and a new song will play after an interval goes by from the start of the song (if your interval is under 7 minutes it could interrupt a song!). After that, you can adjust volume to your liking. The stop button pauses the current song, but the timer will still play the next song normally. Skip will choose a new random song if a song is currently playing.