div(id='getting-started', class='col s12')
  div(class='content-container')
    h3 Getting Started
    ol(id='gs-list') 
      li Select an interval under the advanced settings tab. You can choose a preset option or set your own custom interval between 1 and 120 minutes. <span id='accented'><sup>**<sup></span> 
      li Press play to begin. A random song will immediately start playing. A new song will begin after the set interval has completed. 
      li The stop button pauses the current song. The next song will begin after the set interval has completed.
      li Skip will choose a new random song if a song is currently playing.
      li The slider next to the buttons adjusts volume.
      li You can filter by genre or year in advanced settings.

    h5 Notes
    ul(id='gs-notes')
      li The next time you load up OfficeBeatz, it will remember your interval settings.
      li If your interval is under 7 minutes it may interrupt a currently playing song. 
      li If you filter to under five songs, it's recommended you change your settings.