header
  nav(class='nav-extended nav-color nav-center')
    div(class='nav-wrapper container')
      ul(class='middle')
        li
          a(class='waves-effect waves-light btn-flat light-blue accent-3' col s12, id='play') Play
          a(class='waves-effect waves-light btn-flat light-blue accent-3' col s12, id='pause') Stop
          a(class='waves-effect waves-light btn-flat light-blue accent-3' col s12, id='mute') Mute
          a(class='waves-effect waves-light btn-flat light-blue accent-3' col s12, id='skip') Skip
          input(id="vol-control" type="range" min="0" max="100" value="50" class='volSlider')
    div(class='nav-content')
      ul(class='tabs tabs-transparent')
        li(class='tab')
          a(class='active', href='#home') Home
        li(class='tab')
          a(href='#getting-started') Getting Started
        li(class='tab')
          a(href='#advanced-settings') Advanced Settings