div(id='home', class='col s12')
  img(src='/images/officebeatz-banner.png', class='banner')
  div(class='content-container')
    p(id='stuff') Welcome to <span id='accented'>#{title}</span>, a simple web application designed to get you out of your seat and moving around intermittently to improve your health. Studies have shown that sedentary behavior caused due to working in an office environment can have severe impacts on your physical health as you age. These negative impacts can be avoided by standing up and stretching or taking a short walk roughly once an hour.
    br
    p(id='stuff') OfficeBeatZ will help improve your health by reminding you to get up and move through the power of music. It is believed that we as humans are more likely to respond positively to a stimulus like music than we are to a general purpose alarm used by other health solutions.

  div(id='audio-container')
    audio(id='audioSource')
      source(type='audio/mp3' src=link)