extends layout


block content
  h1= title
  p(id='welcome-paragraph') Welcome to the 
    span(id='accented') #{title}
  div(id='audio-container')
    audio(controls='')
      source(type='audio/mp3' src=link)