extends layout

block content
  include header.pug

  main
    include home-tab.pug
    include getting-started-tab.pug
    include advanced-settings-tab.pug
    include new-settings-tab.pug

  include footer.pug
  include scripts.pug
  