li(class="active")
  div(class="collapsible-header")
    i(class="small material-icons") timer
    | Intervals
    div(id="intervalDisplay" class="valign-wrapper ")
  div(class="collapsible-body")
    p
      label(for="shortInterval")
        input(name="intervalGroup", type="radio", id="shortInterval", value='15')
        span Short Intervals (15 Minutes)
    p
      label(for='mediumInterval')
        input(name="intervalGroup", type="radio", id="mediumInterval", value='30')
        span Medium Intervals (30 Minutes)
    p
      label(for='longInterval')
        input(name="intervalGroup", type="radio", id="longInterval", value='45' checked)
        span Long Intervals (45 Minutes)
    p
      label(for='customInterval')
        input(name="intervalGroup", type="radio", id="customInterval", value='custom')
        span Custom Interval 
          input(placeholder="# of Minutes", id="customIntervalValue", type="number", min="1", max="120")