li(class="not-active")
  div(class="collapsible-header valign-wrapper")
    i(class="small material-icons valign-wrapper") palette 
    | Theme
    div(id="decadeDisplay" class="valign-wrapper")
  div(class="collapsible-body")
    p Light Theme
    p
      div(class="switch")
        label Off
          input(disabled type="checkbox", id="themeSwitch")
          span(class="lever")
          | On