@import "utilities/variables"
@import "materialize.scss"

*
  margin: 0
  padding: 0

body
  display: flex
  min-height: 100vh
  flex-direction: column
  font-family: $openSans
  background-color: $background
  color: $text
  font-size: 16px

main
  flex: 1 0 auto

footer.page-footer
  background-color: #242424
  .footer-copyright
    background-color: #202020
    height: auto

a
  color: #00B7FF

h3
  text-align: center
  padding-bottom: 20px

h5
  padding-top: 50px

.banner
  width: 30%
  min-width: 300px
  margin: 10px auto 20px
  display: block

audio
  text-align: center

nav-wrapper
  background-color: #212121

nav.nav-center
  ul
    text-align: center
    li
      display: inline
      float: none
      a
        display:inline-block

#welcome-paragraph
  text-align: center
  padding-top: 25px

.content-container
  width: 65%
  margin: auto
  text-align: left

.smaller
  font-size: 14px

#accented
  color: $accent

#audio-container
  padding-top: 25px
  display: flex
  justify-content: center
  align-items: center

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

.intervalForm
  line-height: 40px

#customIntervalValue
  width: 100px
  height: 40px
  background-color: #242424
  color: #bdbdbd
  margin-left: 5px
  text-align: center
  
#intervalDisplay
  padding-left: 20px
  font-size: 12px
  color: #616161

#spannedInterval
  color: #00b0ff
  padding-left: 5px
  padding-right: 3px

#gs-list, #gs-notes
  list-style: none
  counter-reset: item

#gs-list, #gs-notes
  li
    counter-increment: item
    margin-bottom: 5px

#gs-list
  li:before
    content: counter(item)
    color: #00b0ff
    margin-right: 10px

#gs-notes
  li:before
    content: "*"
    color: #00b0ff
    margin-right: 10px  

#vol-control
  width: 250px
  height: 80%
  line-height: 80%
  border: none
  position: relative
  margin-top: 8px
  transform: translate(0%,-25%)
  -moz-transform: translate(0%,120%)
