li(class="not-active")
  div(class="valign-wrapper")
    i(class="small material-icons valign-wrapper") music_note
    | &nbspGenres
    div(id="genreDisplay" class="valign-wrapper")
  div(class="", id="genres-box")
    div
      label(for="selectBox")
        input(name="genreGroup", type="checkbox", id="selectBox")
        span Select All
    div
      label(for="hipHopBox")
        input(name="genreGroup", type="checkbox", id="hipHopBox", class="genreGroup")
        span Hip-Hop
        span(class="starter") (
        span(id="genreCount") 161
        span )
    div
      label(for="rockBox")
        input(name="genreGroup", type="checkbox", id="rockBox", class="genreGroup")
        span Rock
        span(class="starter") (
        span(id="genreCount") 164
        span )
    div
      label(for="reggaeBox")
        input(name="genreGroup", type="checkbox", id="reggaeBox", class="genreGroup")
        span Reggae
        span(class="starter") (
        span(id="genreCount") 117
        span )
    div
      label(for="popBox")
        input(name="genreGroup", type="checkbox", id="popBox", class="genreGroup")
        span Pop
        span(class="starter") (
        span(id="genreCount") 28
        span )
    div
      label(for="electronicBox")
        input(name="genreGroup", type="checkbox", id="electronicBox", class="genreGroup")
        span Electronic
        span(class="starter") (
        span(id="genreCount") 23
        span )
    div
      label(for="alternativeBox")
        input(name="genreGroup", type="checkbox", id="alternativeBox", class="genreGroup")
        span Alternative
        span(class="starter") (
        span(id="genreCount") 18
        span )
    div
      label(for="bluesBox")
        input(name="genreGroup", type="checkbox", id="bluesBox", class="genreGroup")
        span Blues
        span(class="starter") (
        span(id="genreCount") 14
        span )
    div
      label(for="latinBox")
        input(name="genreGroup", type="checkbox", id="latinBox", class="genreGroup")
        span Latin
        span(class="starter") (
        span(id="genreCount") 13
        span )
    div
      label(for="jazzBox")
        input(name="genreGroup", type="checkbox", id="jazzBox", class="genreGroup")
        span Jazz
        span(class="starter") (
        span(id="genreCount") 13
        span )
    div
      label(for="countryBox")
        input(name="genreGroup", type="checkbox", id="countryBox", class="genreGroup")
        span Country
        span(class="starter") (
        span(id="genreCount") 12
        span )
    div
      label(for="otherBox")
        input(name="genreGroup", type="checkbox", id="otherBox", class="genreGroup")
        span Miscellaneous
        span(class="starter") (
        span(id="genreCount") 24
        span )
  div 
      label(for="explicitBox")
        input(name="explicitGroup", type="checkbox", id="explicitBox")
        span If you would prefer no explicit songs, check this box
  div(class="as-notes genre-notes z-depth-1", id="genreNotesContainer")
    p(id="notes-header") Notes
    p If no selection is made, a song will be picked from any genre.
    p The number in parenthesis indicates how many total songs of that genre are available across all years.
