li(class="active")
  div(class="valign-wrapper")
    i(class="small material-icons") timer
    | &nbsp Intervals
    div(id="intervalDisplay" class="valign-wrapper ")
  div(id="intervals")
    p(class="shortInt")
      label(for="shortInterval")
        input(name="intervalGroup", type="radio", id="shortInterval", value='15' checked)
        span Short Intervals (15 Minutes)
    p(class="mediumInt")
      label(for='mediumInterval')
        input(name="intervalGroup", type="radio", id="mediumInterval", value='30')
        span Medium Intervals (30 Minutes)
    p(class='longInt')
      label(for='longInterval')
        input(name="intervalGroup", type="radio", id="longInterval", value='45')
        span Long Intervals (45 Minutes)
    p(class='customInt')
      label(for='customInterval')
        input(name="intervalGroup", type="radio", id="customInterval", value='custom')
        span(id="custom-span") Custom Interval 
          input(placeholder="# of Minutes", id="customIntervalValue", type="number", min="1", max="120")
  div(class="as-notes interval-notes z-depth-1", id="intervalNotesContainer") 
    p(id="notes-header") Notes
    p Breaking up prolonged sitting with short, light-intensity physical activity reduces the negative cardiovascular effects of sitting and makes your blood vessels happy. Every time a new song comes on, try standing, walking, performing a few body-weight squats, or even dancing!  